<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    .is-completed {
      text-decoration: line-through;
    }
  </style>
</head>

<body>
  <div id="app">
    <h1>Todo Application</h1>

    <ul>
      <li v-for="todo in todos" :key="todo.id" > <!-- todos 의 객체 todo 의 아이디를 가져오기 위해서 : 를 써야함-->
        <input type="checkbox" v-model="todo.isComplete" />
        <span :class="{'is-completed': todo.is-completed }">{{ todo.text }}</span> <!-- -이 있어서 ' ' 써야함'-->
      </li>
    </ul>
  </div>

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script>
    const { createApp, ref } = Vue

    const app = createApp({
      setup() {
        const todos = ref([
            { id: 1, text: '할 일1', isComplete: false},
            { id: 1, text: '할 일2', isComplete: true},
            { id: 1, text: '할 일3', isComplete: false},
        ])

        return {
            todos,
        }
      }
    })

    app.mount('#app')
  </script>
</body>

</html>
