<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 패키지와 구현체 이름 합친거 -->
<mapper namespace="com.ssafy.myBoard.board.model.dao.BoardDao">

	<!-- 이제 이것도 필요없음.  -->
<!-- 	<resultMap type="Board" id="boardMap">
		<result column="no" property="no" />
		<result column="title" property="title" />
		<result column="writer" property="writer" />
		<result column="content" property="content" />
		<result column="view_cnt" property="viewCnt" />
		<result column="reg_date" property="regDate" />
	</resultMap>
 -->
	<!-- 타입 알리아스 적었으니까 간출일 수 있음. -->
<!-- 	<resultMap type="BoardFile" id="boardFileMap">
		<result column="file_no" property="fileNo" />
		<result column="no" property="no" />
		<result column="file_path" property="filePath" />
		<result column="ori_name" property="oriName" />
		<result column="system_name" property="systemName" />
	</resultMap> -->


	<select id="selectBoard" resultType="Board">
		SELECT *
		FROM board
		ORDER BY no DESC<!-- !!!! -->
	</select>
	
	<select id="getBoardByNo" parameterType="int"
		resultType="Board">
		SELECT no, title, writer, content, view_cnt, reg_date
		FROM
		board WHERE no = #{no}
	</select>
	
	<insert id="insertBoard" parameterType="Board"
		useGeneratedKeys="true" keyProperty="no">
		<!-- <selectKey keyProperty="no" resultType="int" order="AFTER"> select 
			last_insert_id() as last_no from dual </selectKey> -->
		insert into board(title, writer, content, view_cnt, reg_date)
		values(#{title}, #{writer}, #{content}, #{viewCnt}, now())
	</insert>
	
	<insert id="insertBoardFile"
		parameterType="BoardFile">
		insert into
		board_file (file_path, ori_name, system_name, no) values(#{filePath},
		#{oriName}, #{systemName}, #{no})
	</insert>

	<select id="selectBoardFileByNo" parameterType="int"
		resultType="BoardFile">
		select file_no, no, file_path, ori_name, system_name
		from
		board_file
		where no = #{no}
	</select>
	
	<delete id="deleteBoard" parameterType="int">
		DELETE FROM board 
		WHERE no = #{no}
	</delete>
	<update id="updateBoard" parameterType="Board">
		UPDATE board 
		SET title = #{title}, content = #{content}
		WHERE no = #{no}
	</update>

</mapper>