<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.exam.model.dao.DoctorDao">
	<insert id="insertDoctor" parameterType="Doctor">
		INSERT INTO doctor (doctor_id, name, age, specialty_code,
		experience_years)
		values (#{doctorId}, #{name}, #{age}, #{specialtyCode},
		#{experienceYears})
	</insert>

	<select id="selectDoctorById" resultType="Doctor" parameterType="int" >
		SELECT *
		FROM Doctor
		WHERE doctor_id = #{no}
	</select>

	<delete id="deleteDoctor" parameterType="int">
		DELETE  
		FROM Doctor 
		WHERE doctor_id = #{no}; 
	</delete>
	
	<select id="selectAllDoctors" resultType="Doctor">
		SELECT *
		FROM Doctor
	</select>
	
	<update id="updateDoctor" parameterType="Doctor">
		UPDATE doctor SET name = #{name}, age = #{age}, 
		specialty_code = #{specialtyCode}, experience_years = 10 
		WHERE doctor_id = 2;
	</update>
	
</mapper>