@charset "UTF-8";

/* RESET - S*/
*{
	margin: 0;
	padding: 0;
	border: 0;
  box-sizing: border-box;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, main {
	display: block;
}
ol, ul {
	list-style: none;
}
em{ font-style: normal; }
strong{ font-weight: normal; }
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* RESET - E*/



/* MAIN - S*/
    .main .content-title{
      text-align: center;
      font-size: 30px;
      font-weight: 700;
      margin-top: 100px;
    }
    .main  .video-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;
    }
    .main  .video-item {
        width: 300px;
        padding: 20px 10px;
        color: #111;
    }
    .main  .video-item h3{
      font-weight: bold;
      font-size: 18px;
      color: #111;
    }
    .main  iframe {
        width: 100%;
        height: 200px;
    }
    .main  .video-item {
      background: rgba(255,255,255,0.9);
      border-radius: 10px;
    }
    .main  .footer{
      background-color: #000;
    }
    .main  .select-vedios {
      width: 100%;
    }
    .main  .section{
      padding: 50px 0;
    }
    .main  .section .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
      bottom: -100px;
    }
/* MAIN - E*/


/* REVIEW LIST- S */
.review_list input {
    border:0; 
    background: none;
    color: white;
}

.review_list iuput::placeholder {
    color: rgba(255, 255, 255, 0.671);
}

.review_list input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.671);
}

.review_list input:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.671);
}

.review_list .glass {
    margin: 0;
    width: 30px;
    height: 30px;
}

.review_list .searchBox {
    border-bottom: 1px solid white; 
}

.review_list #regist {
    display: flex;
    justify-content: space-between;
}

.review_list button {
    border: 1px solid green;
    background: none;
    color: green;
    box-shadow: 2px 2px;
    font-weight: bold;
    padding: 5px 10px 5px 10px;
}

.review_list ol {
    margin-top: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid gray;
}

.review_list ol > li {
    list-style: none;
}
/* REVIEW LIST- E */

/* FOLLOW- S */
body.follow {
    font-family: Arial, sans-serif;
    background-color:#000000;
    margin: 0;
    padding: 0;
}
.follow .container {
    width: 50%;
    margin: 50px auto;
    padding: 20px;
    background-color:  #343434;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px gray;
}
.follow h2 {
    margin-top: 0;
    text-align: center;
}
.follow .form-group {
    margin-bottom: 15px;
}
.follow .form-group label {
    display: block;
    margin-bottom: 5px;
}
.follow .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.follow .form-group button {
    width: 100%;
    padding: 10px;
    background-color: #5cb85c;
    color: #fff;
    border: none;
    font-weight: bold;
    border-radius: 3px;
    cursor: pointer;
    font-size: 1.0rem;
}
.follow .form-group button:hover {
    background-color: #4cae4c;
}
.follow .user-list {
    list-style-type: none;
    padding: 0;
}
.follow .user-list li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.follow .user-list button {
    padding: 5px 10px;
    background-color: #5cb85c;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.follow .user-list button.followed {
    background-color: #d9534f;
}
.follow div.section > .article{
    background-color: rgba(0, 0, 0, 0);
}
.follow .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
    bottom: -10px;
}
.follow .heart-btn{
    font-size: 30px;
}
/* FOLLOW - E */


/* LOGIN_SIGN - S */
body.login_sign {
    font-family: Arial, sans-serif;
    background-color: black;
    margin: 0;
    padding: 0;
}
.login_sign .container {
    width: 50%;
    margin: 100px auto;
    padding: 20px;
    background-color:  #343434;;
    border-radius: 5px;
    box-shadow: 0 0 10px gray;
}
.login_sign h2 {
    margin-top: 0;
    text-align: center;
}
.login_sign .form-group {
    margin-bottom: 15px;
}
.login_sign .form-group label {
    display: block;
    margin-bottom: 5px;
}
.login_sign .form-group input {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.login_sign .form-group button {
    width: 100%;
    padding: 10px;
    font-weight: bold;
    font-size: 1.0rem;
    background-color: #5cb85c;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.login_sign .form-group button:hover {
    background-color: #4cae4c;
}
.login_sign .form-group #return {
   margin-left: 3px;
}
.login_sign .switch-form {
    text-align: center;
    margin-top: 20px;
}
.login_sign .switch-form a {
    color: green;
    text-decoration: none;
}
.login_sign .message {
    color: rgb(55, 0, 255);
    text-align: center;
}
/* LOGIN_SIGN - E */


/* LOGIN - S */
body.login {
    font-family: Arial, sans-serif;
    background-color: black;
    margin: 0;
    padding: 0;
}
.login .container {
    width: 50%;
    margin: 100px auto;
    padding: 20px;
    background-color:  #343434;;
    border-radius: 5px;
    box-shadow: 0 0 10px gray;
}
.login h2 {
    margin-top: 0;
    text-align: center;
}
.login .form-group {
    margin-bottom: 15px;
}
.login .form-group label {
    display: block;
    margin-bottom: 5px;
}
.login .form-group input {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.login .form-group button {
    width: 100%;
    padding: 10px;
    font-weight: bold;
    font-size: 1.0rem;
    background-color: #5cb85c;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.login .form-group button:hover {
    background-color: #4cae4c;
}
.login .form-group #return {
   margin-left: 3px;
}
.login .switch-form {
    text-align: center;
    margin-top: 20px;
}
.switch-form a {
    color: green;
    text-decoration: none;
}
.login .message {
    color: rgb(55, 0, 255);
    text-align: center;
}
/* LOGIN - E */


/* SELECTED - S */
.selected .content-title{
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  margin-top: 100px;
}
.selected .video-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
}
.selected .video-item {
    width: 300px;
    padding: 20px 10px;
    color: #111;
}
.selected .video-item h3{
  font-weight: bold;
  font-size: 18px;
  color: #111;
}
.selected iframe {
    width: 100%;
    height: 200px;
}
.selected .video-item {
  background: rgba(255,255,255,0.9);
  border-radius: 10px;
}
.selected .footer{
  background-color: #000;
}
.selected .select-vedios {
  width: 100%;
}
.selected .section{
  padding: 100px 0;
}
.selected .section .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
  bottom: -100px;
}
.selected .section .details-link{
  position: absolute; right: 0; bottom: 20px;
  font-size: 30px;
}
/* SELECTED - E */


/* REVIEW_REGIST - S */

.review_regist h2 {
    margin-top: 0;
}
.review_regist .form-group {
    margin-bottom: 15px;
}
.review_regist .form-group label {
    display: block;
    margin-bottom: 5px;
}
.review_regist .form-group input, .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.review_regist .form-group textarea {
    height: 150px;
}
.review_regist .form-group button {
    padding: 10px 15px;
    margin-right: 10px;
    background-color: #1760ff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.review_regist .form-group button:hover {
    background-color: #4cae4c;
}

.review_regist .form-group .return {
  background-color: #db4141;
    color: #fff;
}

.review_regist .form-group .return:hover {
    background-color: #e465ba;
}
/* REVIEW_REGIST - E */